<div>
    <p>To begin trading stocks, You need to:</p>
    <ul>
      <li><%= "✅" if portfolio %> Setup your Trader Portfolio</li>
      <li><%= "✅" if status == "approved" %> Get Trader Account approved <em><%= "(This might take some time)" if status != "approved" %></em></li>
    </ul>
</div>