  <p><%= set_stock(@stocks, transaction.stock_id).symbol %></p>
  <p>Number of stocks: <%= transaction.quantity %></p>
  <p>Type: <%= transaction.action.upcase %></p>
  <%= link_to "View", transaction_path(transaction) %>
