<h1>Your Portfolio </h1>
<%# <%= portfolio.overall_worth %>


<% if @portfolio %>
    <h2>You have a portfolio</h2>
    <% else %>
    <%= link_to "Create a portfolio", portfolio_index_path, data: {turbo_method: :post}  %>
<% end %>
